h1
{
	text-align: center;
}

.section-title
{
	position: absolute;
    width: 100px;
    height: 30px;
    right: 0%;
    top: -20px;
    border:  black solid 1px;
}
#first
{
	background-color: #0095ff;
}
#second
{
	background-color: #31ead9;
}
#third
{
	background-color: #67ef6b;
}


section
{
	position: relative;
	display: inline-block;
	background-color: #afa9a9;
	box-sizing: border-box;
	border: black solid 1px;
	margin: 5px;
	padding: 50px 5px 5px 5px;
	float: left;
}

@media (min-width: 992px)
{
	section
	{
		width: 32%
	}
	.section-title
	{

	}


}
@media (min-width: 768px) and (max-width: 991px) 
{
	section
	{
		width: 45%;
	}
	#Three
	{
		width: 91%;
	}

}

@media (max-width: 767px)
{
	section
	{
		width: 100%;
	}

}